


/* .ana-baslik {
    color:red;
}



.ana-menu {
    text-align:center;
    text-align:justify;
    margin-left: 38%;
    list-style: none;
    word-spacing: 5px;
    text-decoration: none;
    margin-right: 40%;
    
}  */


/* .ana-menu li{
    display: inline;
}

.ana-sayfa {
    color: green;
    text-align: center;
    font-size: 50px;
    */


/* .bg {
    background-color:#e9ecef;
} */
.ana-sayfa-ph3 {
    text-align: center;
}

ul,ol {
    text-align: center;
    list-style-position: inside;
    
}  
/* 
.hakkimizda {
    color:chocolate
}
.hakkimizda-h3 {
    color:black
}  */ 
